
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
.DS_Store

.DS_STORE
