.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}
.preview-container {
  border: 1px solid #eee;
  height: 800px;
  width:800px !important;
  width: 100%;
}

.one {
   
    float: left;
}
.two {
   
     float: right;
}